<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Groceries</key>
	<array>
		<string>Apples</string>
		<string>Bananas</string>
	</array>
	<key>Chores</key>
	<array>
		<string>Get groceries</string>
		<string>Wash clothes</string>
		<string>Wash car</string>
		<string>Wash me</string>
	</array>
</dict>
</plist>
